dist: trusty
language: java
jdk:
- oraclejdk8
sudo: false
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
script: "./gradlew --info --warning-mode=all check jacocoRootTestReport"
after_success:
- bash <(curl -s https://codecov.io/bash)
deploy:
- provider: script
  script: bash ./scripts/deploy.sh
  skip_cleanup: true
  on:
    tags: true
env:
  global:
  - secure: Rhx9UeSCL12Q9ZMcqebSHoKk7DxXUrtU3o7xXp4kWiqUidIqxaB7+Gy3mLnAvRTaxOvGjkL8PsQDSSdVo4VBmiMoWYHk4gHoxKB9Lakzoa+sPBw3c0ufAbtOdSinkfNwL8wpVsNrioGrrkWOAOHY3b1h6IR2kE42lGFqF5TX5+pi5I6tXbYfG/9VnR5UoHQ9NXl/qGUX0fTYvXiIl8u/SO36pHXpA75yV5Ba+bPmYd1ZSFk+r1to2ExE7FYp81JutFmL44GddUKgZjBxQfjQjj3ExI0Hi6XNG9Wwr8tXSMHZ8rhGh8hXdCMGiMZ7xrfITKSyo4g9Hr3/3SFFeGEDDU+JYmsJ7v3JktA/56VKUhj9j6jSlyN9UK7wO+jDgSf8uOZmzPd3v0gvI3d8T0Qny3NKUSWc0Eo5fZK26sWkMPx8z0lYnejj9Nojpd59EsnpgDh6ix32jJ6JO5CKoLagNLrLmME3ulGZw9uMURZGxax/vVVsu1HHKNpasqrtllX6WQCXHqPIxcyOtsBFvanasfvDOLEFtSkOub1cHWDfHtbKg80SuY3BGkjW8qq+ngVE/RfZ/8kg6eZuUCTsOYquyBQNrPKQYP0OE+V4WqLWkK8Mu310ruQTZ3ivuncasWVDKjXDgEs1vSAJwSlA3s9tvIoKA19pEZHw0KfQ/WfgGAY=
  - secure: Br532+f+Zqfg+cxR+twZ9qNBdwiMQjAfvDNjU01hLWuP2A97yAj3OnoXcOSbcLhJi3l4jUnDfUpUuRkbfdIN+Hq/7lSRfjZOLf4kl+sonp5YE9AwKT8ZjfpkNBVNWI/Ua8/LbzOHWDqsiA5rAAtlHqsOQaU9OCUYCDKowtep9+L7lGEaKcbDOQtjNVD7EvCSK8NU71wbQxVkrzO2KBClyJPAuNw88rf27n/llH2VsnEIKfUjotRCqdxpznoEXeNtlHIZ/Sv3pMY7j4Qbsuf2+S2rzdpfdTqTvNXOIdNHBozZL0K8YQUqSbNEl70wWosKXildom55AImRPcTUG2sNbwWZzBSfSBmFT1MWwHYmyamTwzUv2QZjbABSNQEfOOAnmUv2YUtrWkfQGYpDrYjmcwzeGtKdRbHDccgGZpKleUy5A9BLUYcpmsRTwhniJtVzjzsiouZ5zmLFA7byCNn/UACyvTyWWhB7iTfMzO/z43lp7Lkm+qScpz6PBnBr6BWRhyq2UudEiQdR7eXfLr/OCbLMjY9HzqIonZgwe9XiDElN/4qv5Hf1O1FNuJYeT7H2BhBV1F7q3GvtilRhxWXxbWOd29vyUqNSJzLGjJNwIGI1gTMWvVGScxLNkf5iFeWCC/mg0Phdapz5CTixo6MKXmbIb3idk6aCUBjvcllUCxc=
  - secure: RfIJj9PCCLJNj6Gb6CFLIu5dOJvboAfaaPSw05cIFO9luf4VMRP0nkQX+PBBzmOmde5qurFLpf/5ehQdkf8JPUOsbKiOADWgys3JFp7IrVKfFTsN28VPzvA44vRA3z2MQMRstTBHw419stmjiK690RP8gMOalTtlLgWsW31c2pxhlk70KKI3nhJhH5a5ewzPGiU0ZzkTpQjemXxA02yX3THtYOPa0WesjMh67YpYKZhGsgPl0/mxZE8D2h7VHI9uOf972vSoAkuRldMpANyEYtG6empAp6jem+R12Xiv/UByQdG0UMhteDJM2tGq61cfNlWILETV/sy3CU6hCkJIS/9CNte4xxCLxcpGNA6QLi0/7e6L/AlvYRMZI9vD/pPas7yiUVtCuLZGIe0B0CGZG3VCYLCEcTZFMyA5FPxvd4wnck75vH1435c39/OKkma062h6p9ExRX4fe1bzq6UwzNncPr3yDk2VY6P92mxEL2i+vOhV/jKAV2NWMp4fUdKyhd4P/HvjWRZkbU0yQKMiNF3I/Z4KBRwVS/56/fOPKSvG4pnWfC2WR8OfiSfV5LFK7i/mCik7MUZT1zj5LmGt7Gi879c3npYDrtHdNC1rr9Yqoay90uaHE0EPbvJnhdpnFQdI0qejl/N60KbmXtv7m+N73lzoeoKihwKD8z2j/zU=
  - secure: ElT5eDJ3J1rvStFUjkNQ3mvanHBBWI5h9AFRLEEzKJXDK023FSBNYI68bbsK0IArTar8uzoXkdN4cqJIVe6Mr3+ujf24l9orjgaQLf3SiJ9B5Nr1imOwNN4leGtFF5iWb6o2J7bKBLZnGinQFlpTvZMJtJPgNUXfHfaQRqAjujGwQBeSTLgXQ3zxFDl0ak31e061OCfQEf9xC8WcUqnzSn5DZGP3Z8zchoGy/0NKNlxdKOby/vrk0G54pARFsnPdX4YJcwhwtELstB+K+ykNunqQnSBy5n1CzLusPjB9WxKInnlDFAX7yalm54TgNBnw4aHksK81KWxKFlBv+ylh5KC9oHW9YNnYEkGuGWXSbTvd4/bia1FMzzfMWyP90F1140zNe82m06lVww8alrzZU9ff6Gp+ObyPs7SH98kURoWFfiY820NF8YoGrpef9NVRfjmRSKd6dz0UHofrIjTEEshc8RcDLZ54YXrkLtY1rblqXCVkBOv/mqqh89bUPioNF9dob5I9m7rADcT0/KaG8IhkODGZa48fa7nnXEfJVLP9YqMna6JHIsx26Qge1hrin50TqVhfVJROx3ABn3MT/hKvgiTKTdTVsSA+lXq/1ZtVgQTP7W6TUeTXG1cTlkd8X5ESTlV1MbqSy+b2hFJDy8x+ysLOQU+nGUw15SyDYNE=
