name: Release SDK, devpack, Gradle plugin

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Release Type'
        type: choice
        options:
          - Snapshot
          - Official

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '8'
          cache: 'gradle'
      - name: Unit Tests
        run: ./gradlew --info clean test
      - name: Release Official Version
        if: inputs.release-type == 'Official'
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.GPG_KEY_ARMORED }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.GPG_KEY_PASSWORD }}
          ORG_GRADLE_PROJECT_mavenCentralPortalUsername: ${{ secrets.MAVEN_CENTRAL_PORTAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPortalPassword: ${{ secrets.MAVEN_CENTRAL_PORTAL_PASSWORD }}
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
        run: |
          ./gradlew --info -x test -x :gradle-plugin:publish -x :gradle-plugin:releaseMavenCentralPortalPublication -x :gradle-plugin:zipMavenCentralPortalPublication clean publish zipMavenCentralPortalPublication releaseMavenCentralPortalPublication
          ./gradlew :gradle-plugin:publishPlugin -Pgradle.publish.key=$GRADLE_PUBLISH_KEY -Pgradle.publish.secret=$GRADLE_PUBLISH_SECRET
      - name: Release Snapshot Version
        if: inputs.release-type == 'Snapshot'
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.GPG_KEY_ARMORED }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.GPG_KEY_PASSWORD }}
          ORG_GRADLE_PROJECT_mavenCentralPortalUsername: ${{ secrets.MAVEN_CENTRAL_PORTAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPortalPassword: ${{ secrets.MAVEN_CENTRAL_PORTAL_PASSWORD }}
        run: ./gradlew --info -x test publish -Psnapshot
